* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}


.top-background {
    width: 100%;
    height: 2rem;
    background-color: white;
}

#img-div {
    margin-top: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 130px;
    align-items: center;
}
img{
    display:block;
}

#image {
    max-width: 100%;
    max-height: 80%;
    
}
#main,
#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

ul {
    width: 50%;
}

ul li {
    margin-left: 150px;
}

#footer-content {
    width: 50%;
    margin-left: 150px;
}

.footer-font {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}